* {
  margin: 0;
  padding: 0;
}
body {
  background-color: rgba(211, 211, 211, 0.85);
}
#container {
  width: 90vw;
  height: 60vh;
  background-color: white;
  border-bottom-right-radius: 40%;
  position: absolute;
  top: 15%;
  left: 5%;
  padding-left: 2vw;
}
.attribution {
  font-size: 11px;
  text-align: center;
  position: fixed;
  bottom: 0;
  left: 20%;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
#section1 {
  gap: 10vw;
  display: flex;
}
input {
  height: 5vh;
  width: 20vw;
  text-align: center;
  font-size: larger;
}
#input {
  padding-top: 5vh;
}
#input > p {
  padding-left: 3vw;
  color: gray;
}
#section2 {
  display: flex;
  width: fit-content;
  margin-top: 5vh;
}
#line {
  margin-top: 5vh;
  width: 25vw;
}
hr {
  height: 2px;
  color: lightgray;
}
#section2 > button {
  border-radius: 50%;
  background-color: #864dfd;
  border: none;
}
#section3 > div {
  display: flex;
  gap: 1vw;
}
#section3 {
  padding-top: 5vh;
  font-size: 10vw;
  font-weight: bold;
}
#section3 > div > p {
  color: #864dfd;
}
